<div>
  <h2>Welcome {{name}}!</h2>
  <p>Thank you for registering. Please confirm your email address by clicking the link below:</p>
  <p>
    <a href="{{url}}">Confirm Email</a>
  </p>
  <p>If you didn't create an account, you can safely ignore this email.</p>
</div>
