<div>
  <h2>Password Reset Request</h2>
  <p>Hello {{name}},</p>
  <p>We received a request to reset your password. Click the link below to set a new password:</p>
  <p>
    <a href="{{url}}">Reset Password</a>
  </p>
  <p>If you didn't request this, you can ignore this email or let us know. Your password won't be changed until you create a new one.</p>
  <p>This link will expire in 1 hour for security reasons.</p>
</div>
